include ./mixins.pug
div.header
  img(src="./assets/logo.svg").header__logo
  div.logo__controls.controls
    +dropdownControl('Услуги', [{
      name: 'Услуга 1',
      url: '/test'
    },
    {
      name: 'Услуга 2',
      url: '/test'
    },
    {
      name: 'Услуга 3',
      url: '/test'
    },
    {
      name: 'Услуга 4',
      url: '/test'
    }])
    +buttonFilledWithArrow('ОПЛАТЕ', 'arrow')

    input(type="text" placeholder="Email")
    input(type="text" id="date-mask")

    +DatePicker('datepicker')

    +dateDropdown('test')

    +dropdownOptions('test_2',[ 
    {
      text: "Взрослые",
      name: "adults"
    },
     {
      text: "Дети",
      name: "children"
    }
    ])
    +expCheckbox('test_3', "Expandable checkbox list", [{
      text: "Завтрак",
      name: "breakfest"
    }, {
      text: "Завтрак3",
      name: "breakfest2"
    }, {
      text: "Завтрак2",
      name: "breakfest3"
    }])

    +richCheckbox('test_4', "Rich checkbox list", [{
      title: "Широкий коридор",
      text: "Ширина коридоров в номере не менее 91 см.",
      name: "breakfest"
    }, {
      title: "Помощник для инвалидов",
      text: "На 1 этаже вас встретит специалист  и проводит до номера.",
      name: "breakfest2"
    }])

    +rateButton('test_5')

    +rangeSlider('test_6', "Range slider", "₽")

    +iconTextList([
      {
        icon: "insert_emoticon",
        title: "Комфорт",
        text: "Шумопоглощающие стены",
      },
      {
        icon: "location_city",
        title: "Удобство",
        text: "Окно в каждой из спален"
      }
    ])