include ./mixins.pug
div.header
  img(src="./assets/logo.svg").header__logo
  div.header__controls
    div.header__controls-item
      a(href="#" title="О нас") О нас
    div.header__controls-item
      a(href="#" title="Услуги") Услуги
    div.header__controls-item
      a(href="#" title="Вакансии") Вакансии
    div.header__controls-item
      a(href="#" title="Новости") Новости
    div.header__controls-item
      a(href="#" title="Соглашения") Соглашения
    div.header__controls-item
      +button('войти', 'border')
    div.header__controls-item
      +button('зарегистрироваться')
  div.header__mobile-menu
    div.header__mobile-menu-top
      img(src="./assets/logo.svg")
      button
        i.material-icons close
    div.header__mobile-menu-bottom
      div.header__mobile-menu-controls
        div.header__controls-item
          a(href="#" title="О нас") О нас
        div.header__controls-item
          a(href="#" title="Услуги") Услуги
        div.header__controls-item
          a(href="#" title="Вакансии") Вакансии
        div.header__controls-item
          a(href="#" title="Новости") Новости
        div.header__controls-item
          a(href="#" title="Соглашения") Соглашения
      div.header__mobile-menu-buttons
        div.header__controls-item
          +button('войти', 'border')
        div.header__controls-item
          +button('зарегистрироваться')
  button.header__mobile-button Меню
    i
      span