include ./mixins.pug
div.header
  img(src="./assets/logo.svg").header__logo
  div.logo__controls.controls
    +dropdownControl('Услуги', [{
      name: 'Услуга 1',
      url: '/test'
    },
    {
      name: 'Услуга 2',
      url: '/test'
    },
    {
      name: 'Услуга 3',
      url: '/test'
    },
    {
      name: 'Услуга 4',
      url: '/test'
    }])
    +buttonFilledWithArrow('ОПЛАТЕ', 'arrow')

    input(type="text" placeholder="Email")
    input(type="text" id="date-mask")

    +DatePicker('datepicker')

    +dateDropdown('test')

    +dropdownOptions('test_2',[ 
    {
      text: "Взрослые",
      name: "adults"
    },
     {
      text: "Дети",
      name: "children"
    }
    ])
    +expCheckbox('test_3', "Expandable checkbox list", [{
      text: "Завтрак",
      name: "breakfest"
    }, {
      text: "Завтрак3",
      name: "breakfest2"
    }, {
      text: "Завтрак2",
      name: "breakfest3"
    }])