include ./mixins.pug
div.header
  img(src="./assets/logo.svg").header__logo
  div.header__controls
    div.header__controls-item
      a(href="#" title="О нас") О нас
    div.header__controls-item
      +dropdownControl('Услуги', [{
        name: 'Услуга 1',
        url: '#'
      },
      {
        name: 'Услуга 2',
        url: '#'
      },
      ])
    div.header__controls-item
      a(href="#" title="Вакансии") Вакансии
    div.header__controls-item
      a(href="#" title="Новости") Новости
    div.header__controls-item
      +dropdownControl('Соглашения', [{
          name: 'Соглашение 1',
          url: '#'
        },
        {
          name: 'Соглашение 2',
          url: '#'
        },
        ])
    div.header__controls-item
      +button('войти', 'border')
    div.header__controls-item
      +button('зарегистрироваться')