<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Toxin
  body
    header
      include ./includes/header.pug

    main
      div.landing
        div
        img(src="assets/main_bg.jpg").landing__bg
        div.landing__card
          h1 Найдем номера под ваши пожелания
          div.landing__date
            +dateDropdown('date')
          div.landing__options
            +dropdownOptions('options', 'Гости', 'Сколько гостей', [
              {
                name: 'adult',
                text: 'Взрослые'
              },
              {
                name: 'kids',
                text: 'Дети'
              },
              {
                name: 'baby',
                text: 'Младенцы'
              }
            ])
          a(href="/search.html")
            +button('Подобрать номер', 'arrow')
        div.landing__text
          p Лучшие номера для вашей работы, отдыха и просто вдохновения
    footer
      include ./includes/footer.pug
    script(src="https://code.iconify.design/1/1.0.7/iconify.min.js")